<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Linketinder | Cadastrar Vaga</title>
</head>
<body>
    <header class="navbar">
        <h1>Linketinder Empresa</h1>
        <nav>
            <a href="perfil.html" class="btn btn-outline" style="width: auto; padding: 5px 15px;">Ver Candidatos</a>
        </nav>
    </header>

    <main class="container">
        <form id="formVaga">
            <h2>Anunciar Nova Vaga</h2>
            <input type="text" id="tituloVaga" placeholder="Título da Vaga (Ex: Dev Java Junior)" required>
            <textarea id="descVaga" placeholder="Descrição das atividades" required></textarea>
            <input type="text" id="skillsVaga" placeholder="Skills Necessárias (separe por vírgula)" required>
            <button type="submit" class="btn">Publicar Vaga</button>
        </form>
    </main>

    <script type="module" src="dist/app.js"></script>
</body>
</html>